@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    height: 90%;
}

body{
    background-color: rgb(49, 49, 49);
    background-image: url(../img/map-v1.png);
    height: 90%; 
    background-repeat: no-repeat;
    background-size: 82%;
}

main{
    padding: 20px;
}

.levels{
    position: relative;
}

.profil-container .username-session{
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.profil-container .logout-btn{
    size: 20px;
    color: white;
    position: absolute;
    top: 168%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.levels div{
    position: relative;
    width: 130px;
    height: 130px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}

.levels div:hover{
    background-color:teal ;
}

.levels div span{
    width: 20%;
    position: absolute;
    top: 50%;
    left:45%;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 3;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

h1{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin: 0;
    font-size: 30px;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    text-align: center;
    height: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.arrow-back{
    height: auto;
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
}

.arrow-back:hover{
    color: #2BBBAD;
    cursor: pointer;
}

.arrow-back:hover img{
    width: 68px;
    background: #2BBBAD;
}

.arrow-back img{
    width: 60px;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.arrow-back span{
    text-transform: uppercase;
    margin: 0;
}

.profil-container{
    position: absolute;     
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.profil-container img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.profil-picture{
    padding: 20px;
    height:  130px;
}

.map{
    position: absolute;
    background-position: center;
    background-size: auto;
    width: 55.5%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.levels div i{
    display: none;
    color: white;
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

}

/* LOCKED LEVELS */
    .levels div.locked:hover{
        background-color: rgb(49, 23, 23);
    }

    .levels div.locked:hover span{
        color: transparent;
    }

    .levels div.locked:hover i{
        display: block;
    }
/* END LOCKED LEVELS*/

.levels div.level1{
    position: absolute;
    bottom: -97px;
    left: 52px;
}

.levels div.level2{
    position: absolute;
    bottom: 34px;
    left: 252px;
}

.levels div.level3-1{
    position: absolute;
    bottom: 311px;
    left: 313px;
}

.levels div.level3-2{
    position: absolute;
    bottom: -48px;
    left: 566px;
}

.levels div.level4-1{
    position: absolute;
    top: -6px;
    left: 528px;
}

.levels div.level4-2{
    position: absolute;
    bottom: 113px;
    left: 773px;
}

.levels div.level5{
    position: absolute;
    top: 55px;
    left: 834px;
}

.levels div.level6{
    position: absolute;
    top: 25px;
    right: 637px;
}

.levels div.level7{
    position: absolute;
    top: -84px;
    right: 370px;
}

.levels div.level-bonus{
    position: absolute;
    bottom: -110px;
    left: 933px;
}

.levels div.level-bonus span{
    left: 44px;
    top: 78px;
}







