*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(49, 49, 49);
}

h1,h2{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 100px;
}

h2{
    font-size: 40px;
}

form{
    width: 100%;
}

main{
    margin: auto;
    width: 20%;
}

.card{
    margin-top: 30%;
    padding: 10px 30px 10px 10px;
}