@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    height: 90%;
}

body{
    background-color: rgb(49, 49, 49);
    background-image: url(../img/map-v1.png);
    height: 90%; 
    background-repeat: no-repeat;
    background-size: 82%;
}

main{
    padding: 20px;
}

.levels{
    position: relative;
}

.levels div{
    position: relative;
    width: 130px;
    height: 130px;
    background-color: rgba(255, 0, 0, 0.219);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}

.levels div span{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 3;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}

h1{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin: 0;
    font-size: 30px;
    width: 180px;
    right: 80px;
    top: 40px;
    text-align: center;
}

.profil-container{
    position: absolute;     
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.profil-container img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.profil-picture{
    padding: 20px;
    height:  130px;
}

.map{
    position: absolute;
    background-position: center;
    background-size: auto;
    width: 55.5%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.levels div.level1{
    position: absolute;
    bottom: -97px;
    left: 52px;
}

.levels div.level2{
    position: absolute;
    bottom: 34px;
    left: 252px;
}

.levels div.level3-1{
    position: absolute;
    bottom: 311px;
    left: 313px;
}

.levels div.level3-2{
    position: absolute;
    bottom: -48px;
    left: 566px;
}

.levels div.level4-1{
    position: absolute;
    top: -6px;
    left: 528px;
}

.levels div.level4-2{
    position: absolute;
    bottom: 113px;
    left: 773px;
}

.levels div.level5{
    position: absolute;
    top: 55px;
    left: 834px;
}



